#plannerBody {
    padding-bottom: 30px;
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid #88898C;
  padding: 10px;
}

.hour-row {
    /* position:relative; */
}

.hour-label {
    margin-top: 15px;
    font-weight: 700;
    color: #495057;
}

.hour-row:after {
    content: '';
    display:block;
    clear:both;
}

.save {
    width: 18%;
    border: 1px solid #fff;
    border-radius: 0 0.5rem 0.5rem 0;
    float:left;
    height: 75px;
}

.save > img {
    height: 25px;
    width: auto;
}

.save:hover {
    border: 1px solid #fff;

}
.event {
    width: 82%;
    background-color: #f1f3f5;
    color: #343a40;
    border: 1px solid #fff;
    padding: 0.5em;
    height: 75px;
    float:left;
    border-radius: 0.25rem 0 0 0.25rem;
}

.past > .event {
    opacity: 0.35;
    border-left: 5px solid #495057;
}

.past > .save {
    opacity: 0.35;
}

.current > .event {
    border-left: 5px solid #40c057;
    font-weight: 700;
    background-color: #d3f9d8;
    font-size: 1.25em
}

.future > .event {
    /* background-color: #b2f2bb; */
    border-left: 5px solid #495057;
}

.event:focus {
    outline:none;
    border-left: 5px solid #007bff !important;
    opacity: 1 !important;
}

.event:focus + .save {
    opacity: 1 !important;
}

.current > .hour-label {
    font-weight: 700;
    font-size: 1.25em;
}

.save:focus {
    box-shadow: none;
}

.jumbotron {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hour-row {
        height: 100px;
    }

    .planner-container {
        height: 100%;
        float:left;
    }

    .hour-label {
        width: 8%;
        margin-top:0;
        font-weight: 400;
        border-top: 2px solid #f1f3f5;
        padding-top:5px;
    }

    .save {
        width: 10%;
    }


}